@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <h3><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> Air quality station</h3>
        <p>This is an aplication for sharing and managing data from environment sensors. This is a test version of the application
        and <strong>it does not present real data. </strong>.
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <h3><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Public API</h3>
        <p>
            Public API shares the following resources:
        </p>
        <p>get /api/station  - all stations</p>
        <p>get /api/station/{id} - details for station selected by id</p>
        <p>get /api/datapoints/ - recorded data points</p>
  
    </div>
</div>
<div class="container">
    <div class="row">
        <h3><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Technology</h3>
        <p>The application was created using ASP.NET MVC framework. The UI was created using Bootstrap.
         Maps were added with the help of Leaflet.js library.</p>
    </div>
</div>

